<!--
============================================
; Title:  error.ejs
; Author: Alsaddig Ibrahim
; Date:   10 October 2019
; Description: part of api-gateway
;===========================================
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>